<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd
           http://www.springframework.org/schema/util 
           http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- custom AuthenticationDetailsSource -->
	<beans:bean id="requestHeaderBasedPreAuthenticatedWebAuthenticationDetailsSource"  
		class="com.roxterra.spring.security.RequestHeaderBasedPreAuthenticatedWebAuthenticationDetailsSource">
		<!-- inject the enum by using one of its values -->
		<beans:property name="requestHeaderAttribute">
			<beans:value type="com.roxterra.spring.security.SiteMinderHeaderAttribute">KAH_GAT_CODE</beans:value>
		</beans:property>
 
	</beans:bean>
  	
  	<!-- custom UserDetailsService -->
	<beans:bean id="preAuthenticatedGrantedAuthoritiesUserAttributeUserDetailsService" 
			class="com.roxterra.spring.security.PreAuthenticatedGrantedAuthoritiesUserAttributeUserDetailsService">
	</beans:bean>
	
   	<beans:bean id="siteminderFilter" class="org.springframework.security.web.authentication.preauth.RequestHeaderAuthenticationFilter">
	    <beans:property name="principalRequestHeader" value="SM_USER"/>
		<beans:property name="authenticationDetailsSource" ref="requestHeaderBasedPreAuthenticatedWebAuthenticationDetailsSource"/>
	    <beans:property name="authenticationManager" ref="authenticationManager" />
  	</beans:bean>
  	
  	<beans:bean id="preauthAuthProvider" class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
	    <beans:property name="preAuthenticatedUserDetailsService" ref="preAuthenticatedGrantedAuthoritiesUserAttributeUserDetailsService">
	    </beans:property>
    </beans:bean>
    
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/**" />
		<custom-filter ref="siteminderFilter" position="PRE_AUTH_FILTER"/>
	</http>
<!-- 
	<http auto-config="true">
	    <intercept-url pattern="/**" access="ROLE_USER" />
	    <form-login login-page="/login"/>
	</http>
	 -->
	<authentication-manager alias="authenticationManager">
	<!-- 
	  <authentication-provider>
	  	<user-service id="userDetailsService" properties="classpath:/users.properties"/>
	  </authentication-provider>
 -->
	  <authentication-provider ref="preauthAuthProvider">
	  	
	  </authentication-provider>
	  
	</authentication-manager>
</beans:beans>